<script>function showName () {
  var name = document.getElementById('fileInput'); 
  alert('Selected file: ' + name.files.name);
  return name.files.name;
}
</script>
<div class="container-fluid">
  <br /><br />
  <div class="row">
    <div class=col-md-10>
      <h3>Videos</h3>
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary btn-sm" (click)="save()"><i class="fa fa-floppy-o"></i> Save</button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary btn-sm" (click)="back()"><i class="fa fa-angle-double-left"></i> Back</button>
    </div>
  </div>
  <hr />
  <form [formGroup]="videoForm">
    <div class="form-group row">
      <label class=" col-md-2 control-label">Video Name :<span class="required-asterisk">*</span></label>
      <div class="col-md-10">
        <input type="text" class="col-sm-6" autocomplete="off" maxlength="100" formControlName="name" 
                   [ngClass]="{'has-error': videoControls.name.errors && videoControls.name.touched || videoControls.name.dirty }">
      &nbsp; &nbsp;
       <span class="text-danger" *ngIf="videoControls.name.errors && videoControls.name.touched || videoControls.name.dirty "> 
        <span  *ngIf="videoControls.name.errors?.required">Video name is required</span>
       </span> 
      </div>
      <label class="col-md-2 control-label">Display Name :<span class="required-asterisk">*</span></label>
      <div class="col-md-10">
        <input type="text" class="col-sm-6" formControlName="displayName"
        [ngClass]="{'has-error': videoControls.displayName.errors && videoControls.displayName.touched || videoControls.displayName.dirty }">
        &nbsp; &nbsp;
        <span class="text-danger" *ngIf="videoControls.displayName.errors && videoControls.displayName.touched || videoControls.displayName.dirty "> 
         <span  *ngIf="videoControls.displayName.errors?.required">Display name is required</span>
        </span>
      </div>
      <label class=" col-md-2 control-label">Video Url :<span class="required-asterisk">*</span> </label>
      <div class="col-md-10">
        <input type="text" class="col-sm-6" formControlName="url"
        [ngClass]="{'has-error': videoControls.url.errors && videoControls.url.touched || videoControls.url.dirty }">
        &nbsp; &nbsp;
        <span class="text-danger" *ngIf="videoControls.url.errors && videoControls.url.touched || videoControls.url.dirty "> 
         <span  *ngIf="videoControls.url.errors?.required">Url is required</span>
        </span>
      </div>
      <label class=" col-md-2 control-label">Duration: </label>
      <div class="col-md-10">
        <input type="text" class="col-sm-6" formControlName="duration">
      </div>
      <label class=" col-md-2 control-label">Tags :<span class="required-asterisk">*</span> </label>
      <div class="col-md-10">
        <input type="text" formControlName="tags"
        [ngClass]="{'has-error': videoControls.tags.errors && videoControls.tags.touched || videoControls.tags.dirty }">
        &nbsp; &nbsp;
        <span class="text-danger" *ngIf="videoControls.tags.errors && videoControls.tags.touched || videoControls.tags.dirty "> 
         <span  *ngIf="videoControls.tags.errors?.required">Tags are required</span>
        </span>
      </div>
      <label class=" col-md-2 control-label">Description </label>
      <div class="col-md-10">
        <textarea rows=3 cols=20 maxlength="250" formControlName="description"></textarea>
      </div>
      <label for="levels" class=" col-md-2 control-label">Level :<span class="required-asterisk">*</span></label>
      <div class="col-md-10">
        <div formGroupName="level">
          <select (change)=setLevelId($event.target.value) id="levels" formControlName="id">
            <option value="" disabled selected>select</option>
            <option *ngFor="let level of levels" [value]="level.id">{{level.name}}</option>
          </select>
        </div>
      </div>
      <label class=" col-md-2 control-label">Category :<span class="required-asterisk">*</span></label>
      <div class="col-md-10">
        <div formGroupName="category">
          <select (change)=setCategoryId($event.target.value) id="categories" formControlName="id">
            <option value="" disabled selected>select</option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
        </div>
      </div>
      <label class=" col-md-2 control-label">Transcript: </label>
      <div class="col-md-10">
        <input type="file"  (change)=uploadFile($event) class="col-sm-6" formControlName="transcript">
      </div>
      <!--end of video form-->

      <br /><br /><br /><br />
      <div class="col-md-10">
        <fieldset>
          <div class="row">
            <div class="col-md-10">
              <legend>Reference Artifact(s)</legend>
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary" (click)="addRefArt()">Add</button>
            </div>
          </div>
          <hr />
          <div formArrayName="referenceArtifact">
            <div *ngFor="let referenceArtifact of videoForm.get('referenceArtifact')['controls'];
       let refArtindex=index" [formGroupName]="refArtindex">
              <div class="form-group row">
                <label class=" col-md-2 control-label">Name :<span class="required-asterisk">*</span></label>
                <div class="col-md-10">
                  <input type="text" class="col-sm-6" formControlName="name" />
                </div>
                <label class=" col-md-2 control-label">Artifact :<span class="required-asterisk">*</span></label>
                <div class="col-md-10">
                  <input type="file" id="fileInput" (change)=uploadFile($event) class="col-sm-6" formControlName="file" />
                </div>
                <label class=" col-md-2 control-label">Description:</label>
                <div class="col-md-10">
                  <textarea rows=3 cols=20 maxlength="250" formControlName="description"></textarea>
                </div>
                <br /><br /><br />
                <button class="btn btn-danger btn-sm" (click)="deleteRefArt(refArtindex)">Remove </button>
              </div>
              <br /> <br />
            </div>
          </div>
        </fieldset>
      </div>
      <!--end of ref art-->

      <br /><br /><br /><br />
      <div class="col-md-10">
        <fieldset>
          <div class="row">
            <div class="col-md-10">
              <legend>Sample Program(s)</legend>
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary" (click)="addSamProg()">Add</button>
            </div>
          </div>
          <hr />
          <div formArrayName="sampleProgram">
            <div *ngFor="let sampleProgram of videoForm.get('sampleProgram')['controls'];
       let samProgindex=index" [formGroupName]="samProgindex">
              <div class="form-group row">
                <label class=" col-md-2 control-label">Name :<span class="required-asterisk">*</span></label>
                <div class="col-md-10">
                  <input type="text" class="col-sm-6" formControlName="name" />
                </div>
                <label class=" col-md-2 control-label">Artifact :<span class="required-asterisk">*</span></label>
                <div class="col-md-10">
                  <input type="file" value=showName() (change)=uploadFile($event) class="col-sm-6" formControlName="file" />
                </div>
                <label class=" col-md-2 control-label">Description:</label>
                <div class="col-md-10">
                  <textarea rows=3 cols=20 maxlength="250" formControlName="description"></textarea>
                </div>
                <button class="btn btn-danger btn-sm" (click)="deleteSamProg(samProgindex)">Remove </button>
              </div>
              <br /> <br />
            </div>
          </div>
        </fieldset>
      </div>
      <!--end of samp prog-->

      <br /><br /><br /><br />
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-10">
            <legend>Reference Url(s)</legend>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary" (click)="addRefUrl()">Add</button>
          </div>
        </div>
        <hr />
        <div formArrayName="referenceUrl">
          <div *ngFor="let referenceUrl of videoForm.get('referenceUrl')['controls'];
       let refUrlindex=index" [formGroupName]="refUrlindex">
            <div class="form-group row">
              <label class=" col-md-2 control-label">Name :<span class="required-asterisk">*</span></label>
              <div class="col-md-10">
                <input type="text" class="col-sm-6" formControlName="name" />
              </div>
              <label class=" col-md-2 control-label">Url :<span class="required-asterisk">*</span></label>
              <div class="col-md-10">
                <input type="text" class="col-sm-6" formControlName="url" />
              </div>
              <label class=" col-md-2 control-label">Description:</label>
              <div class="col-md-10">
                <textarea rows=3 cols=20 maxlength="250" formControlName="description"></textarea>
              </div>
              <br /><br /><br />
              <button class="btn btn-danger btn-sm" (click)="deleteRefUrl(refUrlindex)">Remove </button>
            </div>
            <br /> <br />
          </div>
        </div>
      </div>
      <!--end of ref art-->

    </div>
  </form>
  {{videoForm.value|json}}
</div>